<div>
    <div class="wrapper">
        <h1><span class="glyphicon glyphicon-menu-left pull-left" id = "back-button"></span>History</h1>
        {{# _.each(model, function(item, index) { }}
        <ul>
            <li> {{ item.date }}</li>
            {{# for (var i = 0; i < item.elements.length; i++) { }}

            <li>
                <table>
                    <tr class="{{ item.elements[i].category }}">
                        <td> {{ item.elements[i].category }}</td>
                        <td> {{ item.elements[i].sum }} UAH</td>
                        <td><span class="glyphicon glyphicon-remove-circle pull-right remove-button"
                                  id="{{ item.elements[i].id }}"></span></td>
                    </tr>
                </table>
            </li>

            {{# } }}
        </ul>
        <hr>
        {{# }); }}
    </div>
</div>