<div>
    <h1>History</h1>
    {{# _.each(model, function(item, index) { }}
    <ul>
        <li> {{ item.date }}</li>
        {{# for (var i = 0; i < item.elements.length; i++) { }}

        <li id="{{ item.elements[i].id }}">
            <table>
                <tr>
                    <td> {{ item.elements[i].category }}</td>
                    <td> {{ item.elements[i].sum }} UAH</td>
                    <td><span class="glyphicon glyphicon-remove-circle pull-right" aria-hidden="true"></span></td>
                </tr>
            </table>
        </li>

        {{# } }}
    </ul>
    <hr>
    {{# }); }}
</div>